.hero {
    width: 59%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    // float: right;
    margin-bottom: 1rem;

    &__details {
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    label {
        margin-right: .5rem;
    }

    &__field {
        span {
            font-weight: 600;
        }
    }

    &__footer {
        margin-top: .5rem;
        width: 10rem;
        display: flex;
        justify-content: flex-end;

        button:last-child {
            background-color: var(--main-color);
            color: var(--font-color-lite);
        }
    }
}