<div *ngIf="hero" class="hero">
    <h3 class="hero__details">{{ hero.name | uppercase }} DETAILS</h3>

    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">

    <div class="hero__field"><span>id: </span>{{hero.id}}</div>
    <div class="hero__field"><span>name: </span>{{hero.name}}</div>

    <div class="hero__footer">
        <button class="button" (click)="goBack()">Back</button>
        <button class="button" (click)="save()">Save</button>
    </div>
</div>