<div class="recipe-detail" *ngIf="recipe; else noDetail">

    <div class="row">
        <div class="col-xs-12">
            <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 30rem; width: 100%;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <h2 style="margin-top: 1rem;">{{ recipe.name }}</h2>
        </div>
        <div class="col-xs-4" style="padding: 1rem 0;">
            <div class="btn-group" role="group" appDropdown style="margin-left: 4rem;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a style="cursor: pointer;" (click)="onAddToShoppingList()">Add Recipe to Shopping List</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="onEditRecipeClicked()">Edit Recipe</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" href="#">Delete Recipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{ recipe.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor='let ingredient of recipe.ingredients'>
                    {{ ingredient.name }} - {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>

</div>

<ng-template #noDetail>Please select recipe!</ng-template>