/* Base */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    // this defines what is 1 rem
    font-size: 62.5%; /* (10px/16px)=> root font-size = 10px */
}

body {
    box-sizing: border-box;
}

h1, h2, h3 { margin: 0; }

.container {
    margin: 0 auto;
}


/* Typography */

body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* Utilities */

.visible { display: inline-block; }
.hidden { display: hidden; }

.flex-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Mixins */
@mixin bordered {
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
}