<div class="flex-boxx">

    <div class="heroes">
        <h3 class="heroes__title">List of Heroes</h3>

        <div>
            <label for="new-hero">Hero name: </label>
            <input id="new-hero" #heroName />

            <!-- (click) passes input value to add() and then clears the input -->
            <button class="add-button" (click)="add(heroName.value); heroName.value=''">
                Add hero
            </button>
        </div>

        <div class="heroes__list">
            <article class="heroes__item" *ngFor="let hero of heroes">
                <a routerLink="/detail/{{hero.id}}">
                    <span class="badge">{{hero.id}}</span> {{hero.name}}
                </a>
                <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
            </article>
        </div>
    </div>

    <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

</div>